/* Global variables */
:root {
	/*--color-light-gray: hsl(220, 10%, 85%);*/
	--color-red: hsl(0, 80%, 48%);
	--color-orange: hsl(30, 100%, 50%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--color-accent: #3399ff;
	--color-dark-grey: #666666;
	--color-light-grey: #d3d3d3;
	--duration-move: .1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;

	--radius: 5px;
	--label-font-size: 20px;
	--label-font-size-small: 12px;

	--size: 8;

	--duration-move: 2s;
	--duration-fade: 2s;

}

html {
	display: flex;
	min-height: 100vh;
}

body {
	margin: auto;
	font-family: Verdana, Arial;
	font-size: var(--label-font-size);
}

.wrapper {

}

/* REMOVE borders from columns*/
header {

}

main {
	display: flex;
	flex-direction: row;
}

.panel {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gen {
	grid-column: 1;
	text-align: center;
	width: 140px;
}

#title {
	margin: 5px;
	color: var(--color-blue);
}

#scoreboard {
	padding: 10px;
	background-color: var(--color-light-grey);
}

#score {
	font-size: 60px;
}

#start {
	background-color: var(--color-blue);
	width: 130px;
}

#hint {
	background-color: var(--color-accent);
	width: 130px;
}

.gen-module {
	margin: 5px;
	color: white;
	font-weight: bold;
	border-radius: var(--radius);
}

#game {
	grid-column: 2;
	display: flex;
	/*align-items: center;*/
	/*max-width: 400px;*/
}

#board {
	width: 400px;
	height: 400px;
	max-width: 80vw;
	max-height: 80vw;

	display: grid;
	grid-template-rows: repeat(calc(var(--size) + 1), 1fr);
	grid-template-columns: repeat(calc(var(--size) + 1), 1fr);

	border-collapse: collapse;
}

.label {
	font-weight: bold;
}

.text-cell {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: Arial;
	font-size: calc(200px / (var(--size) + 1));
}

.candy-cell {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	margin-left: -1px;
	margin-bottom: -1px;
	/*below two properties added for firefox...*/
	max-width: calc(400px / (var(--size) + 1));
	max-height: calc(400px / (var(--size) + 1));
}

#controls {
	grid-column: 3;
	max-width: 80vw;
	/*background-color: blue;*/
}

#dir-panel {
	display: grid;
	grid-gap: 10px;
	margin-top: 80px;
}

#left {
	grid-area: 2 / 1;
	background-color: var(--color-green);
}

#up {
	grid-area: 1 / 2;
	background-color: var(--color-blue);

}

#right {
	grid-area: 2 / 3;
	background-color: var(--color-red);

}

#down {
	grid-area: 3 / 2;
	background-color: var(--color-yellow);
}


#input-move {
	grid-area: 2 / 2;
	padding: 0;
	text-align: center;
	border-radius: var(--radius);
	border: 1px solid grey;
	box-sizing: border-box;
}

.bad-input {
	background-color: pink;
}

#crush {
	grid-row: 4;
	grid-column: 1 / span 3;
	font-weight: bold;
	color: white;
	background-color: var(--color-orange);
	width: 140px;
	justify-self: center;
}

.dir {
	color: white;
}

.control {
	border: 0;
	box-shadow: none;
	border-radius: var(--radius);
	height: 50px;
	font-size: var(--label-font-size);
	width: 80px;
}

.disabled {
	color: var(--color-dark-grey) !important;
	background-color: var(--color-light-grey) !important;
}

button {
}

.button {
	border: 0;
	box-shadow: none;
	border-radius: var(--radius);
	height: 50px;
	font-size: var(--label-font-size);
}

.candy {
	max-width:100%;
	max-height:100%;
}

.hint-anim {
	animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    filter: saturate(100%);
  }
  50% {
    transform: scale(1.15);
    filter: saturate(200%);
  }
}

@media only screen and (max-width: 875px) and (min-width: 431px) {
	main {
		flex-direction: column;
		align-items: center;
	}
	#gen {
		max-width: 200px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	#dir-panel {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 430px) {
	main {
		flex-direction: column;
		align-items: center;
	}
	.button {
		height: 30px;
		max-width: 100px;
		font-size: var(--label-font-size-small) !important;
	}
	#title {
		font-size: var(--label-font-size) !important;
	}
	#gen {
		display: flex;
		flex-direction: column;
		max-width: 120px;
	}
	.text-cell {
		max-width: calc(80vw / (var(--size) + 1));
		max-height: calc(80vw / (var(--size) + 1));
		font-size: calc(50vw / (var(--size) + 1)) !important;
	}
	.candy-cell {
		max-width: calc(80vw / (var(--size) + 1));
		max-height: calc(80vw / (var(--size) + 1));
	}
	.control {
		height: 35px;
		width: 35px;
	}
	#dir-panel {
		margin-top: 0px;
	}
}

/* color classes */
.red { background-color: var(--color-red) !important; }
.orange { background-color: var(--color-orange) !important; }
.yellow { background-color: var(--color-yellow) !important; 
	color: var(--color-accent) !important; }
.green { background-color: var(--color-green) !important; }
.blue { background-color: var(--color-blue) !important; }
.purple { background-color: var(--color-purple) !important; }

