/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--duration-move: .1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;
}

html {
	display: flex;
	min-height: 100vh;
}

body {
	margin: auto;
}

/* REMOVE borders from columns*/
header {
	border: 1px var(--color-purple) dashed;
}

main {
	border: 1px var(--color-yellow) dashed;
}

#controls {
	border: 1px var(--color-red) dashed;
}

.board {
	/* Variables to use in creating the board */
	--grid-color: silver;
	--board-size: 400px;
	--grid-gap: 1px;
	--cell-outer: calc(var(--board-size) / var(--size));
	--cell: calc(var(--cell-outer) - var(--grid-gap));
}
